<div class="header__menu">
    <ul class="header__menu-list flex mt-8">
        <li class="header__menu-item">
            <a routerLink="/" class="lnk">Home</a>
        </li>
        <li class="header__menu-item">
            <a routerLink="/books" class="lnk">Books</a>
        </li>
        <li class="header__menu-item">
            <a routerLink="/authors" class="lnk">Authors</a>
        </li>
        <li class="header__menu-item">
            <a routerLink="/about" class="lnk">About</a>
        </li>
        <li class="header__menu-item">
            <a routerLink="/contact" class="lnk">Contact</a>
        </li>
    </ul>
</div>